body {
	font-family:		Calibri;
	padding:				5px;
	margin:					0px;
}

header {
	display:			flex;
	height:				60px;
	width:				100%;
	align-items:	center;
	color:				#001979;
}

h1 {
	font-size:			20px;
	margin-left:		5px;
	font-weight:		400;
}

article {
	display:				flex;
	flex-wrap:			wrap;
	align-content:	flex-start;
	width:					320px;
	min-height:			320px;
	border-radius:	5px;
	padding:				0px;
}

section {
	display:				block;
	flex-wrap:			wrap;
	align-items:		center;
	align-content:	center;
	padding:				15px;
}

.shadow {
	box-shadow:			0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
}

article > h1 {
	background-color:	#001979;
	height:				40px;
	width:				100%;
	color:				white;
	margin:				0;
	padding-left:		15px;
	display:			flex;
	align-items:		center;
	align-content:		center;
	font-weight:		300;
	border-top-left-radius:	5px;
	border-top-right-radius:5px;
}

.formEl > input {
	height:						25px;
	border-radius:		5px;
	border:						0px;
	box-shadow:				0px 0px 2px 0px silver;
}

.formEl > label {
	padding-bottom:		2px;
}
.formEl {
	display:					flex;
	flex-wrap:				wrap;
	align-content:		center;
	align-items:			center;
	justify-content:	space-between;
	width:						200px;
	margin-top:				10px;
}


label {
	display:			block;
}